/*a:visited {
	color: inherit;
}*/

.container-fluid.full-width {
	padding-left: 0;
	padding-right: 0;
}

.bg {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
	width: 100%;
	display: block;
	overflow-y: scroll;
}

.bg-bright {
	
	/*background-color: #F5F4F5;*/
	background: -webkit-linear-gradient(top, #f5f4f5 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
	color: black;

}

.bg-dark {
	background-color: #161616;
	color: white;
}

.voxspell-btn {
	color: white; /* change because we don't want colors */
	background-color: #2196F3;
	border-radius: 2px 2px 2px 2px;
	height: 36;
	min-width: 88;
	padding: 0 16 0 16;
}

.collapsable {
	padding-left: 100px;
	padding-right: 100px;

}

.typography-header {
	font-size: 56px;
	font-weight: 500;
    /*font-family: "SF Pro Display","SF Pro Icons";*/
}

.typography-header-short {
	font-size: 64px;
	line-height: 0.8;
	font-weight: 500;
    /*font-family: "SF Pro Display","SF Pro Icons";*/
}

.typography-sub {
	font-size: 24px;
	font-weight: 400;
	/*font-family: "SF Pro Display","SF Pro Icons";*/
}

.typography-hero {
	font-size: 22px;
	font-weight: 300;
}

/*img {
	height: auto;
	width: auto;
	max-height: 600px;
}*/

/*#carouselExampleControls.carousel.slide {
    width: 600px; 
    /*max-width: 600px; !important*/
}*/