/* Animations */
@keyframes switch {
  0%  {opacity: 0;}
  10% {opacity: 0.9;}
  50% {opacity: 1;}
  90% {opacity: 0.9;}
  100% {opacity: 0;}
}

#whoami.run {
  animation: switch 4s 1;
  min-height: 100px;
}
/* OTHERS */

html, body {
  min-height: 100%;
  --accent-color: #00aba5;
  --text-color: #000;
  --nav-text-color: #f2f2f2;

  --color-orange: #d28e5d;
  --color-red: #dc3c3c;
  --color-fuschia: #b73999;
  --color-purple: #8485ce;
  --color-forest-green: #64878f;
  --color-mint-green: #95c76f;
  --color-green: #52bd58;
  --color-blue-green: #00aba5;
  --color-blue: #4670d8;
  --color-dark: #20222B;
  --color-bgdark: #191919;

  margin: 0;
  padding: 0;
}
body {
  font-weight: 400;
  font-size: 1.25rem;
}

#container {
  /*background-color: var(--color-dark);*/
    /*color: b;*/
}

body, button {
  font-family: "SF Pro Display", "SF Pro Text", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}


.nav {
  width: 100%;
  --nav-height: 3rem;
  text-align: center;
  line-height: var(--nav-height);
  position: fixed;

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 50;
}

/* NAVIGATION STUFF */

.nav-bright {
  background-color: rgba(255, 255, 255, 0.8);
}

.nav-dark {
  background-color: rgba(50, 50, 50, 0.8);
}

/*.wrap {
  padding-top: 1rem
}*/

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0 20% 0 20%;
  display: flex;
  justify-content: space-around;
}
.nav li {
  display: inline-block;
  font-size: 1rem;
  padding: 0 0.5rem;
  font-weight: 400;
}
.nav a {
  color: var(--nav-text-color);
}

.nav-bright a {
  color: #3C3C3C;
}

.nav a:hover {
  color: var(--accent-color);
}

/* BACKGROUND */

.bg-bright {
  background: -webkit-linear-gradient(top, #f5f4f5 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  color: black;
}

.bg-light {
  background: #F8F8F8;
  color: black;
}

.bg-dark {
  background-color: var(--color-blue-green);
  color: white;
}


/* TITLES AND TEXT */

h1 {
  font-size: 5rem;
  margin-top: 0rem;
  margin-bottom: -.5rem;
  font-weight: 600;
}

h2 {
  font-size: 3rem;
  margin-top: 0rem;
  margin-bottom: 0rem;
  font-weight: 500;
}

h3 {
  font-size: 2rem;
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  font-weight: 600;
}

.loud {
  font-size: 8rem;
  font-weight: 800;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}


h4 {
  font-size: 1.65rem;
  font-weight: 600;
  letter-spacing: 0.02em;
  margin-bottom: 0rem;
}

p {
  font-size: 26px;
  font-weight: 300;
  letter-spacing: 0.016em;
  margin-top: 0.5rem;
  line-height: 1.38;

}

.vibrant {
  font-weight: 400;
}

.defocused {
  color: #777;
  font-weight: 300
}


.link a {
  color: black;
  font-weight: 500
}

.color-title {
  font-weight: 200;
  font-size: 5rem;
}

.main-content {
  padding: 0 10% 0 10%;
  padding-top: 15vh;
  height: 85vh;
  display: block;
}

.content {
  padding: 2.5% 10% 2.5% 10%;
  padding-top: 5vh;
  min-height: 50vh;
  display: block;
}

/* CSS GRID */

.wrapper {
  padding: 0% 20% 2.5% 20%;
}

.box {
  padding: 0% 0% 5% 0%;
}

.card {
  height: 6rem;
  background: var(--color-blue-green);
}
