---
layout: default
pagination:
  enabled: true
  per_page: 9
---
<div class="home">

  <h1 class="page-heading">Archive of {{ page.type }} "{{ page.title | escape }}"</h1>

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}


  <ul class="card-columns post-archives">
    {% for post in page.posts %}
      {% capture post_lang %}{{ post.lang | default: site_lang }}{% endcapture %}
      {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

      <li class="card">
        <div class="card-body">
          <h5 class="card-title"><a class="post-link" href="{{ post.url | relative_url }}"{% if lang != empty %} lang="{{ lang }}"{% endif %}>{{ post.title | escape }}{% if post.external-url %} &rarr;{% endif %}</a></h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ post.date | date: "%b %-d, %Y" }}</h6>
          {% if post.categories != empty %}{% include category_links.html categories=post.categories %}{% endif %}
        </div>
    </li>
    {% endfor %}
  </ul>

</div>
