<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
			<ul>
				<li><a href="/">home</a></li>
				<li><a href="/">me</a></li>
				<li><a href="/">cv</a></li>
				<li><a href="/">pr</a></li>
			</ul>
			</nav>
			<div class="container">
			{{ content }}
			</div>

			<footer>
				<ul>
					<li><a href="/">mail</a></li>
					<li><a href="/">github</a></li>
					<li><a href="/">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>

