<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    {% include header.html %}

<!-- <div class="wrapper"> -->
        <div class="container-fluid full-width">
          <div class="voxspell-bg">
            <h1>VOXSpell</h1>
            <div class="row">

              <div class="col-sm">
                <p>VOXSpell is a spelling practice application made using Java and JavaFX. It runs on macOS and makes use of the built-in speech library. It also runs on Linux with the Festival speech library installed. VOXSpell is fully customizable and supports custom word lists.</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <p>VOXSpell was developed as the final project for SOFTENG 206.</p>
                <a href="https://github.com/itemic/voxspell"><button  type="button" class="btn btn-primary voxspell-btn">Visit on GitHub</button></a>
              </div>
            </div>
          </div>

          <div class="revilo-bg">
            <h1> Task Scheduler (Revilo)</h1>

              <div class="col">
                <p>Revilo is a task scheduler, which takes tasks given in the form of a DAG and outputs the optimal schedule on a specified number of processors, using a branch-and-bound algorithm. This project was done in Java, and the GUI was designed using the JavaFX GUI framework.</p>

            </div>

            <div class="row">
              <div class="col">
            <img src="/assets/revilo-logo.png" height="50"> <br>
            Screenshots and more to be added at a later date...
          </div>
            </div>

            <div class="row">

              <div class="col">
                <p>Revilo was developed as the final project for SOFTENG 306.</p>
                This project has not been made public.
              </div>

            </div>
          </div>
      </div>
      <!-- </div> -->
   

    {% include footer.html %}
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
  </body>

</html>
